.cat {
  margin-left: 60px;
  margin-top: 10px;
}

h2 {
  font-weight: bolder;
  /* text-align: center; */
  font-size: x-large;
}

.form-control {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  box-shadow: #b6fbff;
}

#image {
  height: 100px;
  /* margin-left: 400px; */
  margin-bottom: 40px;
  border-radius: 20px;
}

label {
  font-weight: bold;
}

#button {
  margin-left: 470px;
}

#log {
  margin-left: 30px;
  border-radius: 30px;
}

#ites {
  height: 200px;
  width: 200px;
  /* margin-left: 450px; */
}

#it1 {
  height: 150px;
  margin-left: 850px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}